<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Détails de l'Étudiant</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
  <h1>Détails de l'Étudiant</h1>

  <p><strong>Nom:</strong> <span th:text="${student.name}"></span></p>
  <p><strong>Email:</strong> <span th:text="${student.email}"></span></p>
  <p><strong>Numéro de Téléphone:</strong> <span th:text="${student.phoneNumber}"></span></p>

  <!-- Displaying specialties -->
  <p><strong>Spécialités:</strong></p>
  <ul>
    <li th:each="speciality : ${student.specialities}" th:text="${speciality.speciality_name}"></li>
  </ul>

  <a href="/students" class="btn btn-secondary">Retour à la liste</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
